<?xml version="1.0" encoding="UTF-8"?>

<phpunit
	bootstrap="../vendor/autoload.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false"
	stopOnRisky="false"
>
	<php>
		<var name="db_name" value="dbname=mdnp"/>
		<var name="db_host" value="localhost"/>
		<var name="db_user" value="postgres"/>
		<var name="db_pass" value=""/>
	</php>

	<testsuites>
		<testsuite name="Test Suite">
			<directory>./</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory>..</directory>
			<exclude>
				<directory>.</directory>
				<directory>../vendor</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
